/runtime/**
!/runtime/bundle/.dummy
!/runtime/bundle/neobundle.vim/**
!/runtime/caches/tags/.dummy
!/runtime/aux/swap/.dummy
!/runtime/aux/backup/.dummy
!/runtime/aux/views/.dummy
!/runtime/aux/undo/.dummy
/config/extra/**
!/config/extra/.dummy
!/config/extra/20-coq/
!/config/extra/30-agda/
